<!DOCTYPE html>
<html>
  <head>
  	<!-- Chèn tập tin header.ejs -->
    <% include ../../partials/header.ejs %>
    <!-- Ajax Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- Jquery validation -->
	<script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini" >
  	<div class="wrapper">
  		<!-- Chèn tập tin nav.ejs -->
  		<% include ../../partials/nav.ejs %>
  		<!-- Phần nội dung chính của trang  -->
  		<div class="content-wrapper">
  			<section class="content-header">
      		<h2>
       		 Xem thông tin cá nhân
      		</h2>
      		<ol class="breadcrumb">
      			<li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
      			<li class="active">Thông tin cá nhân</li>
      		</ol>
    		</section>
        <!-- Connt body -->
    		<section>
    			<div class="row">
    				<div class="col-md-12">
    					<div class="box-body" style="background: white">
    						<div class="form-group">
            			<label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Họ tên:</label>
            			<div class="col-lg-8 col-md-8 col-sm-8">
              				<div class="row">
                				<div class="col-md-8  col-xs-12">
                					<div class="well" name="feedback_name" id="name" value=""></div>
                				</div>
              				</div>
            			</div>
          			</div>
          			<div class="form-group">
            			<label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Địa chỉ:</label>
            			<div class="col-lg-8 col-md-8 col-sm-8">
              				<div class="row">
                				<div class="col-md-8  col-xs-12">
                					<div class="well" name="feedback_name" id="address"></div>
                				</div>
              				</div>
            			</div>
          			</div>
  				      <div class="form-group">
            			<label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Ngày sinh:</label>
            			<div class="col-lg-8 col-md-8 col-sm-8">
              				<div class="row">
                				<div class="col-md-8  col-xs-12">
                					<div class="well" name="feedback_name" id="birthday"></div>
                				</div>
              				</div>
            			</div>
          			</div>
          			<div class="form-group">
            			<label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Điện thoại:</label>
            			<div class="col-lg-8 col-md-8 col-sm-8">
              				<div class="row">
                				<div class="col-md-8  col-xs-12">
               						<div class="well" name="feedback_name" id="phone"></div>
                				</div>
              				</div>
            			</div>
          			</div>
          			<div class="form-group">
            			<label class="control-label col-lg-4 col-md-4 col-sm-4" for="threshold_start">Email:</label>
            			<div class="col-lg-8 col-md-8 col-sm-8">
              				<div class="row">
                				<div class="col-md-8  col-xs-12">
                					<div class="well" name="feedback_name" id="email"></div>
                				</div>
              				</div>
            			</div>
          			</div>
          			<div class="form-group">
            			<div class="col-lg-offset-5 col-lg-8 col-md-offset-5 col-md-8 col-sm-offset-5 col-sm-8">
              				<div class="row">
               					<div class="col-md-8  col-xs-12">
                  					<a href="/quantrac/nongdan">
                    					<span>Quay lại trang chủ</span>
                  					</a>
                				</div>
              				</div>
            			</div>
          			</div>
    					</div>
    				</div>
				</div>
        </section>
  	  </div>
  		<% include ../../partials/script.ejs %>
      <% include ../../partials/sidebar.ejs %>
	  </div>
	  <script type="text/javascript" charset="utf-8">
	  	$(document).ready(function() {
        $.ajax({
          url: 'http://quantrac.com:8001/webservice/farmer/1',
          headers: {
            "Content-Type": "application/x-www-form-urlencoded"
        		},
          method:"GET",
          success: function(data){
							console.log('ok');
							console.log(JSON.stringify(data))
							var userInfo = data.message;
							var userName = '<span>'+ userInfo.USER_FULLNAME  +'</span>';
							var userEmail = '<span>'+ userInfo.USER_EMAIL +'</span>';
							var userAddress = '<span>'+ userInfo.USER_ADDRESS +'</span>';
							var userBirthday = '<span>'+ moment(userInfo.USER_BIRTHDAY).format("DD-MM-YYYY") +'</span>';
							var userPhone = '<span>'+ userInfo.USER_PHONE  +'</span>';
							$('#name').html(userName);
							$('#email').html(userEmail);
							$('#address').html(userAddress);
							$('#birthday').html(userBirthday);
							$('#phone').html(userPhone);
          }
        });
      });
	  </script>
  </body>
</html>