<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/header.ejs %>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <style>
      th{
        background-color: DodgerBlue;
        text-align:center;
        font-family: Times New Roman;
      }
      h3{
        text-align:center;
        font-family: Times New Roman;
      }
	</style>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
			<!-- Chèn tập tin nav.ejs -->
			<%- include ../../partials/nav.ejs %>
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
				<!-- Content Header (Page header) -->
				<section class="content-header">
					<h1>Kỹ thuật xử lý ra hoa</h1>
					<ol class="breadcrumb">
						<li><a href="/quantrac/nongdan"><i class="fa fa-dashboard"></i> Nông dân</a></li>
						<li class="active">Kỹ thuật xử lý ra hoa</li>
					</ol>
				</section>
				<!-- /.content -->
				<section class="content">
					<!-- /.content-wrapper -->
					<div class="row">
                        <div class="col-md-12">
                            <div class="box box-primary">
                                <div class="box-header with-border text-center">
                                    <h3 class="box-title" ><b>Tạo mầm hoa</b></h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12 table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <tr>
                                                    <th>Phương pháp xử lý</th>
                                                    <th>Liều lượng</th>
                                                    <th>Tưới nước sau khi xử lý hoá chất Paclobutrazol</th>
                                                </tr>
                                            </table>			
                                        </div>
                                    </div>
                                </div>			
                            </div>
                        </div>
                    </div>
				</section>
			</div>
			<% include ../../partials/script.ejs %>
			<% include ../../partials/sidebar.ejs %>
		</div>
  </body>
</html>